[submodule "site/themes/PaperMod"]
	path = site/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "site/themes/docsy"]
	path = site/themes/docsy
	url = https://github.com/google/docsy.git
[submodule "site/themes/doks"]
	path = site/themes/doks
	url = https://github.com/h-enk/doks.git
